<!DOCTYPE html>
<html>

<head>
    <title>Salvo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800|Poppins:300,400,500,600,700,900|Source+Sans+Pro:300,400,600,700,900" rel="stylesheet">

    <link rel="stylesheet" href="game.css">
</head>

<body class="body-games">
    <div id="app">


        <div v-if="path == 0" class="body">
            <div class="login-wrapper">
                <div class="login-left">
                    <img class="title-img" src="images/gif-bomb3.gif">
                    <div class="h1">Enter the Game</div>
                </div>
                <div class="login-right">
                    <div class="h2">Register</div>
                    <div class="form-group">
                        <input class="input" type="text" id="username" placeholder="Email">
                        <label for="Email">Email</label>
                    </div>
                    <div class="form-group">
                        <input class="input" type="password" id="password" placeholder="Password">
                        <label for="Password">Password</label>
                    </div>
                    <div class="button-area">
                        <button class="btn btn-secondary" @click="logIn()">Login</button>
                        <button class="btn btn-primary" @click="signUp()">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>



        <div>
            <div>
                <img class="img-politicans" src="images/politicans.png" alt="politicans">
                <a class="logout-btn btn btn-primary btn-sm" @click="logOut()">Log out</a>
            </div>
        </div>

        <div>
            <div class="container">
                <img class="img-logo" src="images/coollogo_com-24540743.png" alt="logo">
                <div class="row">
                    <div class="left">
                        <div class="indicator back">Back to Game</div>
                    </div>
                    <div class="center">
                        <div class="indicator create">
                            <a @click="createGame()">Create a game</a>
                        </div>
                    </div>
                    <div class="right">
                        <div class="indicator join">Join a Game</div>
                    </div>
                </div>
                <div class="slider">
                    <div action="" class="loginForm">
                        <div class="formHeading">Back to Game</div>
                        <table class="input_container">
                            <tr v-for="game in gameData" v-if="gameData.length != 0">
                                <td v-if="game.gamePlayers[0]">{{game.gamePlayers[0].player.email}}</td>
                                <td v-if="game.gamePlayers[1]">{{game.gamePlayers[1].player.email}}</td>
                                <td v-if="game.gamePlayers[0]">
                                    <a v-if="game.gamePlayers[0].player.email == user.email" :href="'/web/game.html?gp='+ game.gamePlayers[0].id">Return</a>
                                </td>
                                <td v-if="game.gamePlayers[1]">
                                    <a v-if="game.gamePlayers[1].player.email == user.email" :href="'/web/game.html?gp='+ game.gamePlayers[1].id">Return</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div action="" class="signUpForm">
                        <div class="formHeading">Join a Game</div>
                        <table class="input_container">
                            <tr v-for="game in gameData">
                                <td v-if="game.gamePlayers.length >= 1 && game.gamePlayers[0]">{{game.gamePlayers[0].player.email}}</td>
                                <td v-if="game.gamePlayers.length == 2 && game.gamePlayers[1]">{{game.gamePlayers[1].player.email}}</td>
                                <td v-if="game.gamePlayers.length == 1">
                                    <a v-if="game.gamePlayers[0].player.email != user.email" @click="joinGame(game.id)">Join</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>


    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="games.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>

</html>
