<!DOCTYPE html>
<html>

<head>
    <title>Salvo</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800|Poppins:300,400,500,600,700,900|Source+Sans+Pro:300,400,600,700,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.2/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="game.css">
</head>

<body class="body-games">
    <div id="app">

        <div>
            <div>
                <a @click="logOut()">Log out</a>
            </div>
        </div>


        <!--<div id="leaderTable" class="table table-striped">
                <table>
                    <thead class="jumbotron">
                        <tr>
                            <th>
                                <h1>Leader Board!</h1>
                            </th>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <th>Total</th>
                            <th>Won</th>
                            <th>Tied</th>
                            <th>Lost</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="all in allInfo">
                            <td>{{all.email}}</td>
                            <td>{{all.total}}</td>
                            <td>{{all.wins}}</td>
                            <td>{{all.ties}}</td>
                            <td>{{all.lost}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>-->


        <table v-if="show">
            <tr v-for="game in gameData">
                <td v-if="game.gamePlayer[0]">{{game.gamePlayer[0].email}}</td>
                <td v-if="game.gamePlayer[1]">{{game.gamePlayer[1].email}}</td>
                <td v-if="game.gamePlayer[0]">
                    <a v-if="game.gamePlayer[0].email == user.email" :href="'/web/game.html?gp='+ game.gamePlayer[0].id">Back</a>
                </td>
                <td v-if="game.gamePlayer[1]">
                    <a v-if="game.gamePlayer[1].email == user.email" :href="'/web/game.html?gp='+ game.gamePlayer[1].id">Back</a>
                </td>
            </tr>
        </table>




        <div v-if="appear" class="login-wrapper">
            <div class="login-left">
                <img src="images/giphy.gif">
                <div class="h1">Enter the Game</div>
            </div>
            <div class="login-right">
                <div class="h2">Register</div>
                <div class="form-group">
                    <input type="text" id="username" placeholder="Email">
                    <label for="Email">Email</label>
                </div>
                <div class="form-group">
                    <input type="password" id="password" placeholder="Password">
                    <label for="Password">Password</label>
                </div>
                <div class="button-area">
                    <button class="btn btn-secondary" @click="logIn()">Login</button>
                    <button class="btn btn-primary" @click="signUp()">Sign Up</button>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script type="text/javascript" src="games.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>

</html>
